.App {
  text-align: left;
  font-family: Poppins;
  background-color: #0c111a;
}

.hero-section{
  background-image: url("./assets/images/background/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: 80px;
}

.layout{
  width: 70%;
  height: 100%;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-display: swap;
}

section {
  padding: 1.5rem;
}




